@charset "UTF-8";
/* -- Estils meus -- */

body { padding: 50px; border-top: solid 1px #fff; background: #fff; color: #004; font: 14px/normal Montserrat, Tahoma, Arial, Helvetica, sans-serif; }

div.right-header{float:right;}

div.header{width:674px;}

div.info{

width:674px;
margin-top:50px;
text-align:justify;
}
/* -- Fi d'estils meus -- */
/* -- Base drop-down styling. He cambiat els colors. -- */

ul.dropdown {
 font: normal 16px Montserrat, "Trebuchet MS", Arial, Helvetica, sans-serif;
 text-transform: uppercase;
}

	ul.dropdown li {
	 padding: 7px 0;
	 background-color: #000044;
	 color: #ff7;
	 line-height: normal;
	}

	ul.dropdown a:link,
	ul.dropdown a:visited { color: #fff; text-decoration: none; }
	ul.dropdown a:hover { color: #ff7; text-decoration: none; }
	ul.dropdown a:active { color: #fff; }

	/* -- level mark -- */

	ul.dropdown ul {
	 width: 170px;
	 background-color: #0000cc;
	 color: #fff;
	 font-size: 16px;
	 text-transform: none;
	 filter: alpha(opacity=90);
	 -moz-opacity: .9;
	 KhtmlOpacity: .9;
	 opacity: .9;
	}

		ul.dropdown ul li {
		 background-color: transparent;
		 color: #000;
		 filter: none;
		}

		ul.dropdown ul li.hover,
		ul.dropdown ul li:hover {
		 background-color: transparent;
		}

		ul.dropdown ul a:link,
		ul.dropdown ul a:visited { color: #fff; }
		ul.dropdown ul a:hover { color: #ff4; text-decoration: none; }
		ul.dropdown ul a:active { color: #fff; }


/* -- Supporting class `dir` -- */

ul.dropdown *.dir {
 padding-right: 12px;
 background-image: none;
 background-position: 100% 50%;
 background-repeat: no-repeat;
}
