.contenedorCircular{
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;

	
}

header img{
	width: 250px;
	height: 250px;
	padding: 15px;
}


.nombre h1{
	color:#57CDE6;
	font-weight: bold;
	

}

.nombre h3{
	font-family: 'Poiret One', cursive !important;
}
header{
	margin-top: 15px;
}
.table{
	font-size: 16px !important;
	
	color: #0C55AF;
}
.table td
.panelDeContactos{
	padding: 0px !important;
}
.navbar{
	margin-bottom: 0px !important;
}
.navbar p{
	font-weight: bold;
	color: #56C4F7;
}