*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Poiret One', cursive;
    background: url(../images/new_background.png) no-repeat;
    background-color: white;

}
.back {
    position: fixed;
    top: 60%;
    left: 5%;
}
.back img{
    position: static;
    width:100%;
    height:100%;
}

@media screen and (max-width: 768px){
    .back {
        position: absolute;
        top:15px;
        width: 230px;
        height: 65px;
    }
    .back img{
        width: 100%;
        height:100%;
        max-width: 100%;
        min-width: 100%;
    }

    footer{
        display: inline-block;
        left: 10px !important;
        margin-left: 40px;
    }

    .formBack{
        padding: 60px;
        font-size: 19px;
    }
    .volver{
        position: relative;
        margin-top: 20px;
        margin-left: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) and (max-height: 768px){
    .back{
        position:absolute;
        top:400px;
        left:60px;
        width:700px;
        height:220px;
    }

    body{
    background-position: -140px 30px;

    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) and (min-height: 768px){
    .back{
        position:absolute;
        top:600px;
        left:60px;
        width:700px;
        height:220px;
    }

    body{
    background-position: -140px 30px;

    }
}


@media screen and (min-width: 1200px) and (min-height: 768px){
    .back{
        position:absolute;
        top:600px;
        left:60px;
        width:825px;
        height:280px;
    }
    body{
    background-position: -140px 90px;

    }
}

@media screen and (min-width: 1200px) and (max-height: 768px){
    .back{
        position:absolute;
        top:390px;
        left:50px;
        width:725px;
        height:240px;
    }
    body{
    background-position: -140px 50px;

    }
}


.title{
    width:548px;
    height:119px;
    position:absolute;
    top:400px;
    left:150px;
    /*background:transparent url(../title.png) no-repeat top left;*/
}
a.back{
    /*background:transparent url(../back.png) no-repeat top left;*/
    position:absolute;
    width:150px;
    height:27px;
    outline:none;
    bottom:0px;
    left:0px;
}
#content{
    margin:100px auto;
    /*padding-top: 100px;*/
}

footer{
    position: fixed;
    left:88%;
    top:90%;
    display: inline-block;
}
.icono{
    display: inline-block;
}
footer img{
    width: 40px;
    height: 40px;
}
.buttonLogin{
    position:absolute;
    left:95%;
    bottom:90%;
    font-size: 20px;
}

.logo_mediano{
    display:inline;
    width:250px;
    height: 80px;
    top:0;
    right: 0
    left:0
    bottom:0;
}
p{  
    color:#2E3472;
    display:inline-block;
    font-size: 27px;
}

.customAnimated1{

    -webkit-animation-duration: 1s;

}
.customAnimated2{
    -webkit-animation-duration: 3s;

}
.customAnimated3{
    -webkit-animation-duration: 5s;

}

.customAnimated4{
    -webkit-animation-duration: 7s;

}
.customAnimated5{
    animation-duration: 9s;
    -webkit-animation-duration: 9s;

}
.menuMovil{
    position: absolute;
    margin:auto;
    text-decoration: none;
    text-align: center;
    font-size: 35px;
    top:0;
    left:40px;
    right:40px;
    bottom:0;
    list-style: none;


}
.menuMovil a{
    color:white;
}
.menuMovil a:hover{
    text-decoration: none;
}
.menuMovil li{
    margin-top: 15px;
    border-radius: 10px;
    list-style: none;

}
.menuMovil li:hover{
    text-decoration: none;
    opacity:0.7;

}
.azul{
    background-color: #32CCC3;
    

}
.verde{
    background-color: #7AD07C;
    
}
.babyBlue{
    background-color: #80BCF3;

}
.gris{
    background-color: #9C9C9C;

}
.logoli{
    
}

.lightGreen{
    background-color: #A0CBF4;
}

.formBack{
    background-color: transparent;
    border: 6px #4FC6D8 dotted;
    width: 650px;
    height: 865px;
    margin:auto;
    margin-top: 30px;
    border-radius: 20px;
    padding: 30px;
    padding-top: 15px;
    color:#09BCE9;
    font-size: 20px;
}

.botonRegistro{
    background-color: #0FCBFA;
    color:white;
    font-weight: bold;
    border:1px #14B2C9 solid;
    
}
.formBack input{
    background-color: white;
    color:#91B919;
    font-weight: bold;
    border:1px #81D9E6 solid;
}

.botonRegistro:hover{
    background-color: #A2D746;
    font-weight: bolder;
    border-color: #16DCE3;
}

.formBack h2, h3{
    color:#92D41F !important;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}
.form_header img, h2{
    display: inline-block;
}
.formBack h2{
    font-size: 40px;
    top: 60px;
}

#loginButton{
    left: 20%;
    right: 20%;
    margin-top: 35px;
}
hr{
    background-color: #21C9E7;
    border: 0 none;
    color: #eee;
    height: 2px;
    width: 100%;
}