/*--------------------------------------------------------------------------------------------------------------------*/
/* estilos para la plantilla social*/

/*--------------------------------------------------------------------------------------------------------------------*/
body {
    background: url("../images/new_background.png") no-repeat;
}

#content{
    width:100%;
}

#content .btn {
    width:60%;
    margin-top: 1em;
    margin-bottom: .5em;
}